*{
    margin: 0;
    padding: 0;
    
    
}
h1,h2,h3,h4,h5,h6{
font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p{
    font-family: "Quattrocento Sans", sans-serif;
}
.header-icons{
    color: white;
    display: flex;
    gap: 20px;
    cursor: pointer;
    
}
.face{
 color: white;
 background-color: white;
 border-radius: 50px;
 width: 7px;
 height: 11px;
 color: black;
 padding:3px 5px;
 align-items: center;
 font-size: 12px;
 
}
.ins{
    
    font-size: 17px;
}
.you{
    font-size: 17px;
}
.pin{
    color: white;
 background-color: white;
 border-radius: 50px;
 width: 7px;
 height: 10px;
 color: black;
 padding:3px 5px;
 align-items: center;
 font-size: 12px;
 
}
header{
    display: flex;
    background-color:  #252525;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 250px;
    padding: 10px 80px;
    cursor: pointer;   
}
header h3 span:hover{
    text-decoration: underline;
}
.header-num  {
    color: white;
    display: flex;
    justify-content: center;
    
}
.header-num h3{
    font-weight: 300;
    font-size: 15px;
}
.hero1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #efecec;
    cursor: pointer;
}
.search img{
    width: 20px;
}
.user img{
    width: 20px;
}
.contact{
background-color: #efecec;
    padding: 60px 50px;
}
.contact-text{
    text-align: center;
}

.contact-text .section-title {
    font-size: 45px;
    color: #252525;
    font-weight: 400;
    position: relative;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
}
.contact-text h3{
    margin-top: 50px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.inputs{
   margin-left: auto;
   margin-right: auto;
    width: 50%;
    margin-top: 30px;
    font-family: "Playfair Display", serif;
    
}
.name{
    height: 40px;
    width: 105%;
    padding: 4px;

    font-size: 15px;
    font-weight: 500;
    border:1px solid #cccccc;
    color: black;
    border-radius: 5px;
    
}
.email{
    height: 40px;
    width: 105%;
    padding: 4px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #cccccc;
    color: black;
    border-radius: 5px;
}
.message{
    height: 160px;
    width: 105%;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #cccccc;
    color: black;
    border-radius: 5px;
    
}
input{
    font-family: "montserat","sans-serif";
}
textarea{
    font-family: "montserat", "sans-serif";
    
}
.checker{
    margin-top: 20px;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color:#252525;
    font-size: 15px;
}
.custom{
    accent-color: grey;
    
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.btn button{
    padding: 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border: none;
    background-color: black;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.inputs p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #252525;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
}

.contact-text .section-title::after{
    content: '';
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    width: 4%;
    height: 2px;
    background-color:#252525;
    

}
.footer-container{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-size: 18px;
}
footer{
    background-color: #252525;
    height: 90vh;
    color: #ccc;
    padding:50px 80px;
    
}
.footer-2{
    cursor: pointer;
}

.footer-1 p span{
text-decoration: underline;
}
.footer-2 p:hover{
text-decoration: underline;
}
.footer-btn img{
    width: 20px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    
}
.footer-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5433eb;
    padding:10px 20px;
    color: whitesmoke;
    border-radius: 20px;
    font-weight: 700;
}
.icons{
    display: flex;
    gap:30px;
    font-size: 20px;
}
@media screen and (max-width:1033px) {
    .header-icons{
        display: none;
    }
    header{
        justify-content: center;
    }
    

}
@media screen and (max-width:900px){
    .header-icons{
        display: none;
        
    }
    header{
        justify-content: center;
    }
    .hero1{
        
        padding: 10px 40px;
    }
     .inputs{
        width: 90%;
    }
    .name{
        width: 100%;
    }
    .email{
        width: 100%;
    }
    .message{
        width: 100%;
    }
    footer{
        padding: 20px;
        height: 160vh;
        
        
    }
    .footer-icons{
        flex-direction: column;
        justify-content: center;
        padding: 40px 0;
    
    }
    .icons{
        margin-top: 30px;
    }
    .footer-container{
    flex-direction: column;
    font-size: 15px;}
}
    @media screen and (max-width:500px){
    .header-icons{
        display: none;
        
    }
    header{
        justify-content: center;
        padding: 20px;
    }
    .header-num h3{
        display: none;
    }
    .hero1{
        padding:13px 35px;
        
    }
.inputs{
        width: 100%;
    }
    .btn button{
        width: 100%;
        
    }
    .btn{
        margin-top: 5px;
    }
    .checker{
        margin-bottom: 0;
        font-size: 10px;
        text-align: center;
    }
    footer{
        padding: 20px;
        height: 140vh;
        
        
    }
    .footer-icons{
        flex-direction: column;
        justify-content: center;
        padding: 40px 0;
    
    }
    .icons{
        margin-top: 30px;
    }
    .footer-container{
    flex-direction: column;
    font-size: 13px;
}
}